<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lobby</title>
    <link rel="stylesheet" href="static/index.css">
</head>
<body>
    <div class="top-container">
        <div class="elem-container">
            <img src="static/logo.png" alt="logo" class="logo">
            <h1 class="name">Herzig Game</h1>
        </div>
        <div class="button-container">
            <span style="color: white; margin-right: 20px;">{{ username }}</span>
            {% if is_admin %}
                <div style="margin: 20px 0;">
                    <a href="/admin/" style="background: #dc3545; color: white; padding: 10px 20px; 
                    text-decoration: none; border-radius: 5px;">Админ панель</a>
                </div>
            {% endif %}
            <a href="/" class="main-button"><h1>Home</h1></a>
            <a href="/logout" class="main-button"><h1>Logout</h1></a>
        </div>
    </div>
    <div class="body-container">
        <div class="games-container">
            <h1 class="avaible-games">Доступные игры</h1>
            <div class="games-list">
                {% for game in games %}
                <div class="game-item" onclick="window.location.href='/game.html?id={{ game['id'] }}'" style="cursor: pointer;">
                    <div class="game-header">
                        <span class="game-id">#{{ game['id'] }}</span>
                        <span class="game-name">{{ game['name'] }}</span>
                    </div>
                    <div class="game-details">
                        <span class="game-duration">⏱️ {{ game['duration'] or '-' }}</span>
                        <span class="game-time">🕒 {{ game['start_time'] or 'Не указано' }}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="other-container">

        </div>
    </div>
</body>
</html>